
%script{ :language => "javascript", :type => "text/javascript", :src => "http://ads1.pogads.com/show_ad.php?zid=#{@pogads[@ad_name]["zone_id"]}&amp;sz=#{@pogads[@ad_name]["width"]}x#{@pogads[@ad_name]["height"]}" }
%a{ :href => "http://www.pogads.com/lead-generation-management.php", :title => "Lead Generation", :id => "pogads_site#{@pogads[@ad_name]["zone_id"]}", :class => "ad_adv#{@pogads[@ad_name]["zone_id"]} ad_headline#{@pogads[@ad_name]["zone_id"]} ad_table#{@pogads[@ad_name]["zone_id"]}", :target => "_blank" }="Lead Generation"
