document.write('<iframe src="http://#{@site_hostname}/poll/#{@poll_id}/embed/?width=#{@width}&height=#{@height}" width="#{@width}" height="#{@height}" frameborder="0" scrolling="no"></iframe><p><a href="http://#{@site_hostname}/poll/#{@poll_id}/">poll powered by poll4.me</a></p>');
