%html
    %head
        %title="poll4.me"
        %link{ :rel => "stylesheet", :type => "text/css", :href => "/stylesheet.css" }
        %script{ :type => "text/javascript", :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js" }
        %link{ :rel => "stylesheet", :type => "text/css", :href => "/visualize/visualize.jQuery.css" }
        %script{ :type => "text/javascript", :src => "/visualize/visualize.jQuery.js" }
        %script{ :type => "text/javascript", :src => "/script/poll4me.js" }
    %body
        #header
            #header_left
                %h1
                    %a{ :href => "/" }="poll4.me"
            #header_right
                - if @current_user
                    %a{:href => "/home/"}="home"
                    %a{:href => "/poll/create/"}="create poll"
                    %a{ :href => "/logout/" }="logout"
                - else
                    %a{:href => "/login/"}="login"
                    or
                    %a{:href => "/signup/"}="signup"
        .clear
        #outer_container
            #main_container
                - if @flash
                    #flash="#{@flash}"
                - if @errors and @errors.length > 0
                    %ul.errors
                        - @errors.each do |error|
                            %li="#{error}"
                = yield
            #sidebar
                - if @sidebar
                    .user_info
                        %a{ :href => "/user/#{@sidebar["username"]}/" }="#{@sidebar["full_name"]}"
                    - if not @sidebar["recent_polls"].empty?
                        .recent_polls
                            %span="your recent polls"
                            = list_polls(@sidebar["recent_polls"])
                = show_ad("sidebar_banner")
                        
            .clear
        #footer
            %p
                ="&copy; 2010, Sean Schulte"
                %br
                %a{ :href => "http://vikinghammer.com/" }="Vikinghammer"

        - if @piwik_url
            :javascript
                var pkBaseURL = (("https:" == document.location.protocol) ? "https://#{@piwik_url}/" : "http://#{@piwik_url}/");
                document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
                try {
                    var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 1);
                    piwikTracker.trackPageView();
                    piwikTracker.enableLinkTracking();
                } catch( err ) {}

        :javascript
            $(document).ready(function() {
                $("form :input:visible:enabled:first").focus();
            });

